<%- include("partials/header"); -%>


<h1>Contact me</h1>
<p class="letter"><%=contactContent%></p>
<form class="" action="/" method="get">
  <button type="submit" name="button" class= "btn btn-outline-primary btnPost">Go Home</button>
</form>

<%- include("partials/footer"); -%>
